Repository ChainSafe/go-fil-markets-interface, pull requests merged in 2020-08, with the labels that each got.

#33 add authorization
  go.mod
  go.sum
  nodeapi/client.go
  nodeapi/token.go
  nodeapi/token_test.go
Labels: Status: Needs Review

#35 Implement Market APIs and fix Node API mapping.
  cmd/client/main.go
  nodeapi/client.go
  nodeapi/mpool.go
  nodeapi/paymngr.go
  nodeapi/state.go
  nodeapi/stmgr.go
  nodeapi/store.go
  nodeapi/utils.go
  nodeapi/wallet.go
  retrievaladapter/client.go
  storageadapter/client.go
Labels: CLI, Client, Retrieval, Status: Needs Review, Storage, Type: Bug

#36 Implement event handler for storage market.
  nodeapi/chain.go
  nodeapi/client.go
  nodeapi/state.go
  storageadapter/client.go
Labels: Client, Retrieval, Status: Merge Ready, Storage

#37 Implement Market server.
  .travis.yml
  api/struct.go
  client/client.go
  client/rpc.go
  cmd/client/main.go
  go.mod
  go.sum
  nodeapi/client.go
  nodeapi/state.go
  retrievaladapter/client.go
  rpc/rpc.go
  storageadapter/client.go
Labels: Retrieval, Status: Merge Ready, Storage

#38 Initialize storage and market client.
  api/struct.go
  client/rpc.go
  cmd/client/main.go
  config/config.go
  config/config.json
  go.mod
  go.sum
  main.go
  nodeapi/chain.go
  nodeapi/client.go
  nodeapi/mpool.go
  nodeapi/paymngr.go
  nodeapi/state.go
  nodeapi/stmgr.go
  nodeapi/store.go
  nodeapi/utils.go
  nodeapi/wallet.go
  retrievaladapter/client.go
  retrievaladapter/client_test.go
  rpc/rpc.go
  storageadapter/client.go
  storageadapter/client_test.go
Labels: Retrieval, Status: Needs Review, Storage

#41 Add logger in storage and retrieval market.
  api/struct.go
  client/rpc.go
  cmd/client/main.go
  config/config.go
  config/config.json
  go.mod
  go.sum
  main.go
  nodeapi/client.go
  nodeapi/utils.go
  retrievaladapter/client.go
  rpc/rpc.go
  storageadapter/client.go
  utils/utils.go
Labels: Retrieval, Status: Needs Review, Storage

#42 Update market CLI and support data transfer status API.
  api/struct.go
  client/rpc.go
  cmd/client/main.go
  go.mod
  main.go
  rpc/rpc.go
  storageadapter/client.go
Labels: CLI, Client, Storage
